Title: Archive
---
@{
    Layout = "/_PostLayout.cshtml";
}

@{
    foreach(IGrouping<int, IDocument> year in Documents[BlogPipelines.Posts]
        .GroupBy(x => x.DateTime("Published").Year)
        .OrderByDescending(x => x.Key))
    {
        <h1>@year.Key</h1>
        <ul class="archive-list">
            @foreach(var document in year.OrderByDescending(x => x.DateTime("Published")))
            {
                <li><a role="button" href="@Context.GetLink(document)">@document.String(BlogKeys.Title)</a> <span class="meta">@document.DateTime("Published").ToString("MMM d")</span></li>
            }
        </ul>
    }
}