
table {
    width: 100%;
    background: #FFF;
    margin: 1em 0;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: none;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0,0,0,.87);
    border-collapse: separate;
    border-spacing: 0;

    thead {
        box-shadow: none;
    }
    
    thead th {
        cursor: auto;
        background: #F9FAFB;
        text-align: inherit;
        color: rgba(0, 0, 0, 0.87);
        padding: 0.7em;
        vertical-align: inherit;
        font-style: none;
        font-weight: bold;
        text-transform: none;
        border-bottom: 1px solid rgba(34, 36, 38, 0.1);
        border-left: none;
    }

    td {
        padding: 0.5em 0.7em;
    }

    thead tr > th:first-child {
        border-left: none;
    }
    
    thead tr:first-child > th:first-child {
        border-radius: 0.28571429rem 0em 0em 0em;
    }
    
    thead tr:first-child > th:last-child {
        border-radius: 0em 0.28571429rem 0em 0em;
    }

    thead tr:first-child > th:only-child {
        border-radius: 0.28571429rem 0.28571429rem 0em 0em;
    }
        
    /* Table Row */
    tr td {
        border-top: 1px solid rgba(34, 36, 38, 0.1);
    }

    tr:first-child td {
        border-top: none;
    }

    /* Table Cells */
    td {
        padding: 0.78571429em 0.78571429em;
        text-align: inherit;
    }
}